.doc-drawer__toggler {
	padding: 0 !important;
	margin: 0;
	height: 100% !important;
}

.event {
	width: 100%;
	.appointment {
		height: 100%;
		background-color: #7469b6;
		border-radius: 6px;
		border: 1px solid #b3a7f6;
		cursor: pointer;
		pointer-events: auto;
		.event__label {
			text-decoration: underline;
			font-weight: bold;
		}
	}
	.blockout {
		height: 100%;
		padding: 10px;
		background-color: #dc8686;
		border-radius: 6px;
		border: 1px solid #f5b1b1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.event {
	.event__label {
		font-size: 14px;
		padding: 0;
		margin-bottom: 6px;
	}
	.event__start-end {
		margin-bottom: 6px;
	}
	.event__services {
		margin-bottom: 6px;
	}
}
